body {
  background: #fff; }

header {
  background: #323232;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center; }
  header a {
    display: inline-block;
    min-width: 13%; }
  header div {
    display: flex;
    justify-content: center; }
  header a {
    color: #fff;
    font-weight: 700;
    font-family: Lato;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none; }
    header a:hover {
      color: #2eb398; }

.triangle {
  display: flex;
  justify-content: center; }

#triangle-down {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 40px solid #323232; }

#portfolio {
  padding: 7%; }

#about {
  background-color: #2eb398;
  padding: 1% 7%; }
  #about > div {
    padding: 3%;
    border: 1px solid #219d84;
    border-top: none;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    #about > div > div {
      padding: 0 2%; }
  #about h1 {
    color: #d7fcf5;
    font-family: "Maven Pro Regular";
    font-size: 30px;
    margin-bottom: 8px; }
  #about h3 {
    color: #20816d;
    font-family: "Maven Pro Regular";
    font-size: 18px;
    margin-bottom: 19px; }
  #about p {
    color: #d7fcf5;
    font-family: Lato;
    font-size: 12px;
    font-weight: 40;
    line-height: 22px;
    margin-bottom: 40px; }
  #about span {
    display: inline-block;
    width: 24px;
    height: 25px;
    text-align: center;
    color: #fff;
    line-height: 25px; }

.facebook {
  background-color: #3360a1; }

.twitter {
  background-color: #28aae2; }

.google-plus {
  background-color: #dd5341; }

.pinterest-p {
  background-color: #cc1a22; }

.linkedin {
  background-color: #026c9c; }

.ravelry {
  background-color: #f0558f; }

#get {
  background-color: #323232;
  padding: 3% 7%; }
  #get > div {
    display: flex; }

.form {
  flex-basis: 75%; }
  .form h2 {
    color: #e0e0e0;
    font-family: "Maven Pro Regular";
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px; }
  .form h4 {
    color: #bebebe;
    font-family: "Maven Pro Regular";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px; }
  .form input {
    width: 97%;
    height: 38px;
    background-color: #454545;
    color: #fff;
    border: none;
    margin: 7px 0;
    padding: 0 10px; }
  .form textarea {
    width: 97%;
    height: 150px;
    background-color: #454545;
    color: #fff;
    border: none;
    margin-top: 7px;
    padding: 10px 10px; }
  .form button {
    width: 90px;
    height: 37px;
    background-color: #2eb398;
    border: none;
    color: #fff;
    float: right;
    margin: 15px 5px 0 0; }

.info {
  flex-basis: 20%;
  padding: 80px 0 0 20px;
  color: #bebebe;
  line-height: 22px; }
  .info p {
    margin-bottom: 30px; }
  .info i {
    color: #219d84;
    margin-right: 5px; }

footer {
  background-color: #222;
  padding: 20px 40px; }

@media screen and (max-width: 420px) {
  #about > div {
    display: flex;
    flex-direction: column;
    align-items: center;
      align-items-justify-content: center;
    text-align: center; }
  #get > div {
    display: flex;
    flex-direction: column; }
  .form button {
    width: 97%; } }
